@model Ogrenci

@{
    ViewData["Title"] = "Öğrenci Güncelleme Formu";
}

<h1>
    Öğrenci Formu
    <a class="btn btn-info btn-float-right" asp-controller="Ogrenci" asp-action="List">Geri</a>
</h1>

<form asp-controller="Ogrenci" asp-action="Update">
    @Html.HiddenFor(q=>q.Id)
    <div class="form-group">
        <label>Kullanıcı Adı</label>
        @Html.TextBoxFor(q => q.KullaniciAdi, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Adı</label>
        @Html.TextBoxFor(q => q.Adi, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Soyadı</label>
        @Html.TextBoxFor(q => q.Soyadi, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Yası</label>
        @Html.TextBoxFor(q => q.Yasi, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Kaydet</button>
    <p>@ViewBag.Error</p>
</form>